<footer
  class="container mx-auto flex h-full flex-col items-center justify-between gap-4 py-10 font-display text-lg"
>
  <div class="text-sm text-tertiary-2">
    Copyright &copy; Cameron Burrows {new Date().getFullYear()}
  </div>
</footer>
